$min-width: 600px;
@media (min-width:$min-width){
    #me {
        width: 30%;
    }
    body {
        background-color: yellow;
    }
}
@media (max-width:$min-width - 1){
    #me {
        width: 80%;
    }
    body {
        background-color: beige;
    }
}
#h {
    display: none;
}
body {
    padding: 20px;
}